.field {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8B8B8B;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: none;
  outline: none;
  background: #2F2F2F;
  border-radius: 8px;
  font-family: inherit;
  color: #FFFFFF;
  line-height: 46px;
  font-weight: 400;
  font-size: 13px;
  padding: 0 15px;
}

.input:focus {
  box-shadow: 0 0 5px 1px #00a8de;
}