.cards {
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards__not-found {
  text-align: center;
}

.cards__error {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.more-btn {
  all: unset;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  padding: 11px 147px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  border: 1px solid #424242;
  border-radius: 5px;
}

.more-btn_align {
  margin-inline: auto;
  margin-bottom: 80px;
}

.more-btn_hidden {
  display: none;
}

@media screen and (max-width: 460px) {
  .cards {
    padding-top: 50px;
    gap: 20px;
  }

  .more-btn {
    width: 240px;
  }

  .more-btn_align {
    padding: 11px 0 9px;
    margin-top: 10px;
  }
}