.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 74px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding-inline: 70px;
}

.logo {
  display: block;
  width: 38px;
  height: 38px;
  background: url('../../images/logo.svg') 0 0/contain no-repeat;
  transition: opacity .3s ease;
}

.logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 460px) {
  .header {
    padding-inline: 14px;
  }
}